/* etiquestas de estructira  */
header {
    height: 90px;
    background-color: #76a68d;
}

article {
    height: 460px;
    background-color: #bcd5b0;
}

footer {
    height: 60px;
    background-color: #898c70;
}