h1 {
    font-size: 2.2em;
    color: white;
    text-align: center;
}

h2 {
    font-size: 1.8em;
    color: #f2e3b6;
    text-align: center;
    padding-top: .2em;
}

h3 {
    font-size: .8em;
    color: #f2e3b6;
    text-align: center;
    text-transform: capitalize;
}

p {
    font-size: 1em;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    line-height: 1.2em;
}